body{
    background-color: blueviolet;
}

h1 {
    display: flex;
    font-size: 65px;
    justify-content: center;
}

h2 {
    display: flex;
    font-size: 40px;
    justify-content: center;
}

#Pop {
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: burlywood;
    height: 50px;
    width: 1920px;
    margin-top: 50;
    margin-left: -10px;
}
